<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="../../logs/internal-nlog.txt">

  <variable name="logDirectory" value="../../../../../logs"/>

  <targets>
    <target xsi:type="File"
            name="allfile"
            fileName="${logDirectory}/nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=RequestId}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
            archiveFileName="${logDirectory}/archived/nlog-all-{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="5"
            keepFileOpen="false"  />

    <target xsi:type="File"
            name="ownFile-web"
            fileName="${logDirectory}/nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=RequestId}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
            archiveFileName="${logDirectory}/archived/nlog-own-{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="5" 
            keepFileOpen="false"  />

    <target xsi:type="Console"
            name="console"
            layout="${longdate}|${event-properties:item=RequestId}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxLevel="Info" final="true" />
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="CadastroLivros.*" minlevel="Debug" writeTo="ownFile-web" />
  </rules>
</nlog>

